* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:'Sen', sans-serif;
    font-size: 20px;
    color: #656565;
 
}

/* HEADER */
.logo {
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
}

.navbar-item {
    display: inline-block;
    width: 23%;
    vertical-align: top;
    text-align: center;
    padding-top: 5px;
    color: #656565;
}

.navbar-link {
    text-decoration: none;
    color: #656565;
    font-size: 15px;
}

.active-page {
    font-weight: 700;
}

/* HEADER END */

/* MAIN */
.h1 {
    font-family: jaf-mashine, sans-serif;
    text-align: center;
    margin-top: 50px;
    color: #707070;
}

.project-img {
    width: 100%;
    margin-top: 30px;
}

.h2 {
    text-align: center;
    margin-top: 10px;
}

.project {
    margin-bottom: 40px;
}

.project-desc {
    padding: 20px 30px 20px 30px;
    font-size: 15px;
}

.button {
    text-decoration: none;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #F7F0ED;
    width: 100px;
    color: #707070;
    padding: 5px;
    font-size: 15px;
    font-weight: 700;
}

.profile-pic {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.about-intro {
    padding-left: 30px;
    margin-top: 20px;
    font-size: 40px;
}

.about-bio {
    padding: 20px 30px 20px 30px;
    font-size: 15px;
}

.about-bio-end {
    padding: 0px 30px 20px 30px;
    font-size: 15px;
}

.about-button {
    margin-top: 20px;
    margin-bottom: 50px;
}

.cv {
    margin-top: 30px;
}

.cv-section {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.inline {
    display: inline-block;
    vertical-align: top;
}

.cv-icon {
    width: 20px;
}

.cv-title {
    font-weight: 700;
    font-size: 17px;
}

.cv-info {
    font-size: 14px;
}

.cv-space {
    margin-top: 30px;
}
/* MAIN END */

/* FOOTER */
.footer {
    background-color: #F7F0ED;
    padding: 20px 0px 40px 0px;
}

.footer-icon {
    width: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.credits {
    font-size: 12px;
    text-align: center;
    margin-top: 20px;
}

.credit-link {
    font-size: 12px;
    text-decoration: none;
    font-weight: 700;
}

.copyright {
    font-size: 12px;
    text-align: center;
    margin-top: 20px;
}

/* FOOTER END */