* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:'Sen', sans-serif;
    font-size: 20px;
    color: #656565;
 
}

/* HEADER */
.logo {
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
}

.navbar-item {
    display: inline-block;
    width: 23%;
    vertical-align: top;
    text-align: center;
    padding-top: 5px;
    color: #656565;
}

.navbar-link {
    text-decoration: none;
    color: #656565;
    font-size: 15px;
}

.active-page {
    font-weight: 700;
}

/* HEADER END */

/* MAIN */

/* general */

.h1 {
    font-family: jaf-mashine, sans-serif;
    text-align: center;
    margin-top: 50px;
    color: #707070;
}

.h2 {
    text-align: center;
    margin-top: 10px;
}


.button {
    text-decoration: none;
    border: none;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #F7F0ED;
    width: 100px;
    color: #707070;
    padding: 5px;
    font-size: 15px;
    font-weight: 700;
}


/* home-page */

.project-img {
    width: 100%;
    margin-top: 30px;
}

.project {
    margin-bottom: 40px;
}

.project-desc {
    padding: 20px 30px 20px 30px;
    font-size: 15px;
}

/* about-page */

.profile-pic {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.about-intro {
    padding-left: 30px;
    margin-top: 20px;
    font-size: 40px;
}

.about-bio {
    padding: 20px 30px 20px 30px;
    font-size: 15px;
}

.about-bio-end {
    padding: 0px 30px 20px 30px;
    font-size: 15px;
}

.about-button {
    margin-top: 20px;
    margin-bottom: 50px;
}

/* cv-page */

.cv {
    margin-top: 30px;
}

.cv-section {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.inline {
    display: inline-block;
    vertical-align: top;
}

.cv-icon {
    width: 20px;
}

.cv-title {
    font-weight: 700;
    font-size: 17px;
}

.cv-info {
    font-size: 14px;
}

.cv-space {
    margin-top: 30px;
}

/* contact-page */

.form {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
}

.form-label {
    display: block;
    width: 100%;
    font-size: 18px;
    font-weight: 700;
}

.form-input {
    display: block;
    width: 100%;
    font-size: 15px;
    background-color: #F7F0ED;
    border: none;
    padding: 10px;
    margin: 15px 0px 20px 0px;
}

.submit-button {
    border: none;
    display: block;
    margin: 30px auto 50px auto;
    background-color: #F7F0ED;
    width: 100px;
    color: #707070;
    padding: 5px;
    font-size: 15px;
    font-weight: 700;
}

.output {
    font-size: 12px;
    margin-top: 5px;
    color: darkred;
}

/* MAIN END */

/* FOOTER */
.footer {
    background-color: #F7F0ED;
    padding: 20px 0px 40px 0px;
}

.footer-icon {
    width: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.credits {
    font-size: 12px;
    text-align: center;
    margin-top: 20px;
}

.credit-link {
    font-size: 12px;
    text-decoration: none;
    font-weight: 700;
}

.copyright {
    font-size: 12px;
    text-align: center;
    margin-top: 20px;
}

/* FOOTER END */


/* MEDIA TAGS */

@media only screen and (min-width: 600px) {

    /* HEADER */

    .logo {
        width: 150px;
        margin-top: 30px;
        margin-left: 30px;
        display: inline-block;
    }

    .navbar {
        float: right;
        display: inline-block;
        margin-top: 50px;
    }
    
    .navbar-item {
        display: inline;
        margin-right: 40px;
    }

    .navbar-link {
        font-size: 18px;
    }

    .navbar-link:hover {
        border-bottom: solid 10px #F7F0ED;
    }

    /* GENERAL */

    .h2 {
        margin-top: 50px;
        font-size: 22px;
    }
    
    
    .button {
        margin-top: 15px;
        font-size: 18px;
    }

    /* HOME */

    .project-title {
        display: inline-block;
        vertical-align: top;
        margin: 80px 40px 0px 40px;
        font-size: 50px;
        width: 31%;
    }
    
    .project-desc {
        font-size: 20px;
        display: inline-block;
        vertical-align: top;
        width: 31%;
        margin-top: 60px;
    }

    .button-container {
        display: inline-block;
        vertical-align: top;
        width: 31%;
        margin-top: 80px;
    }

    /* ABOUT */


    .profile-pic {
        width: 30%;
        margin: 50px 30px 50px 50px;
        display: inline-block;
        vertical-align: top;
    }


    
    .about-media {
        display: inline-block;
        vertical-align: top;
        width: 500px;
        margin-left: 50px;

    }

    .about-intro {
        margin-top: 80px;
        font-size: 50px;
    }
    
    .about-bio {
        padding: 20px 30px 20px 30px;
        font-size: 20px;
    }
    
    .about-bio-end {
        padding: 0px 30px 20px 30px;
        font-size: 25px;
    }
    
    .about-button {
        margin-top: 20px;
        margin-bottom: 50px;
        margin-left: 30px;
    }

    /* CV */

    .cv-group {
        text-align: center;
        margin-top: 50px;
    }

    .cv-space {
        margin-top: 0;
    }

    .cv-work {
        display: inline-block;
        vertical-align: top;
        width: 200px;
        text-align: left;
    }

    .cv-ed {
        display: inline-block;
        vertical-align: top;
        width: 230px;
        text-align: left;
    }

    .cv-skills {
        display: inline-block;
        vertical-align: top;
        width: 170px;
        text-align: left;
    }

    .cv-skill-space {
        margin-left: 80px;
    }

    .breakline {
        width: 80%;
        height: 15px;
        background-color: #F7F0ED;
        margin-top: 20px;
    }

    .breakline-right {
        float: right;
    }

    .breakline-right-bottom {
        float: right;
        margin-bottom: 80px;
    }


    .h2-ed {
        margin-top: 75px;
    }


    
    /* FOOTER */

    .footer {
        clear: both;
    }

    .nav-footer {
        float: none;
        display: block;
        text-align: center;
        margin-bottom: 50px;
    }

    .nav-footer-item {
        margin-right: 0;
    }

    .credits {
        clear: both;
    }

    .footer-icon {
        margin-top: 30px;
    }
    
    
}

@media only screen and (min-width: 600px) and (max-width: 950px) {

    .about-media {
        display: inline-block;
        vertical-align: top;
        width: 300px;
        margin-left: 20px;

    }

    .about-intro {
        margin-top: 50px;
        font-size: 40px;
    }
    
    .about-bio {
        padding: 20px 30px 20px 30px;
        font-size: 18px;
    }
    
    .about-bio-end {
        padding: 0px 30px 20px 30px;
        font-size: 25px;
    }



}

@media only screen and (min-width: 600px) and (max-width: 1310px) {
    .project-title {
        margin: 80px 20px 0px 20px;
        font-size: 35px;
    }
    
    .project-desc {
        font-size: 16px;
        margin-top: 60px;
    }

    .button-container {        width: 31%;
        margin-top: 80px;
    }


}

@media only screen and (min-width: 600px) and (max-width: 740px) {
    .project-title {
        margin: 80px 10px 0px 10px;
        font-size: 30px;
    }
    
    .project-desc {
        font-size: 15px;
        margin-top: 60px;
    }

    .button-container {        width: 31%;
        margin-top: 80px;
    }


}